@import '_variables';

    .new-user {
        height: 96vh;
        padding-top: 55px;
        .style-form {
            padding: 50px; 
            width: 360px; 
            margin: 48px auto;
            .avatar {
                background-color: $color;
            }
            h1 {
                padding: 20px 0 40px 0; 
            }
            .btn {
                background-color: $color;
                margin: 20px 0; 
            }
        }
    }

    @media screen and (min-width: $deskop) {
    .new-user {
        .style-form {
            width: 500px;
        }
    }
}