@import 'src/sass/variables.scss';

.newUser {
  height: 96vh;
  padding-top: 55px;

  .styleForm {
    padding: 50px;
    width: 360px;
    margin: 48px auto;

    .avatar {
      background-color: $color;
    }

    .avatarIntro {
      padding: 20px 0 40px 0;
    }

    .btn {
      background-color: $color;
      margin: 20px 0;
    }
  }
}

@media screen and (min-width: $deskop) {
  
  .newUser {
    .styleForm {
      width: 500px;
    }
  }
}
